.App {
  font-family: sans-serif;
  text-align: center;
  background: #efeeee;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 100vh;
}

.top {
  padding-top: 6vh;
}

.sec {
  padding: 1vh 1vw;
  border-radius: 10px;
  background: #efeeee;
  box-shadow: 20px 20px 60px #cbcaca, -20px -20px 60px #ffffff;
  max-width: 950px;
}

.answer {
  color: gold;
  background-color: green;
  font-size: 2em;
}

.letter {
  transition: 9s all;
  display: inline-block;
}
