.App {
  font-family: sans-serif;
  text-align: center;
  background: #b3bcc1;
  color: #5a2b21;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}

.answer {
  color: #cab7aa;
  background-color: #3e4b42;
  font-size: 2em;
}
